.heading{

    &-primary{
        
        text-align: center;
        font-size: 2.4rem;
        color: $grey;
    }

    &-secondary{
        text-align: center;
        color: $grey;
        font-size: 1.4rem;
    }
}